/*

Base structure sizes for accordion component.

*/
.accordion {
  list-style: none;
  width: 250px;
}

.accordion li {
  float: none;
  height: auto;
  margin-bottom: 2px;
  width: 250px;
}

.accordion .acc-hd {
  cursor: pointer;
  height: 30px;
  padding-left: 34px;
  width: 216px;
}

.accordion .acc-hd h3 {
  height: 30px;
  margin: 0;
}

.accordion .acc-inner {
  padding: 10px;
}

.accordion .acc-bd {
  overflow: hidden;
  width: 250px;
}

.accordion li li {
  width: 230px;
}

/*

Default skin

*/
.accordion .acc-hd {
  background:url("/images/bg-arrow.png") no-repeat scroll 8px 0 #333333;
  color:#EFEFEF;
}

.accordion .acc-hd h3 {
  font-size:1.4em;
  font-weight:normal;
  line-height:2.5;
}

.accordion .open .acc-hd {
  background:url("/images/bg-arrow-open.png") no-repeat scroll 8px 0 #333333;
}

.accordion .acc-inner {
  background-color:#EFEFEF;
  border:2px solid #888888;
}